<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="de.sjvie.extension_point_test" name="Extension Point Soeren" schema="schema/de.sjvie.extension_point_test.exsd"/>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="de.sjvie.extension_point_test.my_category"
            name="Plugin Test">
      </category>
      <view
            category="de.sjvie.extension_point_test.my_category"
            class="de.sjvie.extension_point_test.TestView"
            id="de.sjvie.extension_point_test.test_view"
            name="Test View"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="de.sjvie.extension_point_test.ResetHandler"
            id="de.sjvie.extension_point_test.reset_command"
            name="Reset">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="de.sjvie.extension_point_test.testplugin"
               label="TestPlugin">
            <command
                  commandId="de.sjvie.extension_point_test.reset_command"
                  label="Reset Test Plugin"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>

</plugin>
